@import 'src/styles/variables';

.wishlist-page {
  padding-top: 0;

  .container {
    justify-content: center;
    flex-direction: column;
    position: relative;

    .remove-all {
      position: absolute;
      right: 2em;
      top: 1em;
    }
  }

  .wishlist-products-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .empty-wishlist {
      text-align: center;
      width: 100%;
    }

    .shoptastic-product-card-wrapper {
      width: 20%;
      background: rgba($color-magenta-primary, 1);
      padding: 0.6em;
      border-radius: 6px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      position: relative;
      margin: 1.2em .6em;
      display: flex;
      flex-direction: column;

      .shoptastic-product-card {
        .product-text-wrapper {
          div.action-buttons-wrapper {
            padding-right: 0;
          }
        }
      }

      .add-to-wishlist-btn {
        border-color: $navbar-bg-color;
        background: $navbar-bg-color;
        text-decoration: none;

        i {
          vertical-align: middle;
          color: white;
        }

        &:hover, &:active, &:focus {

        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .wishlist-page .wishlist-products-wrapper {
    .shoptastic-product-card-wrapper {
      margin: 1em auto;
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .wishlist-page .wishlist-products-wrapper {
    .shoptastic-product-card-wrapper {
      margin: 1em auto;
      width: 60%;
      min-width: 240px;
      height: 60%;
      flex-direction: row;

      .shoptastic-product-image-wrapper {
        margin-right: 2em;
      }
    }
  }
}
