@import "src/styles/variables";

.add-product-page {
  flex-direction: column;

  .add-product-form {
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 40%;

    .price-quantity-size-row {
      display: flex;
      justify-content: space-between;
    }

    .price, .quantity {
      width: 120px;
    }

    .add-new-size {
      max-width: 180px;
      margin: 1em 2em 2em 0;

      &:focus, &:active, &:focus-within {
        border-color: $color-magenta-primary;
        outline: none;
      }
    }

    .upload-product-image-wrapper {
      position: relative;

      .close-image-preview {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }

      .photo-placeholder-image {
        position: absolute;
        right: calc(100% - 6px);
        top: 0;
        font-size: 224px;
        cursor: pointer;
      }

      .new-product-image {
        display: block;
        margin-bottom: .8em;
      }

      .choose-image {
        margin-right: 1em;
        height: 46px;
        font-size: 1em;

        .mat-icon {
          margin-top: -.25em;
          margin-left: 1em;
        }
      }
    }

    .upload-product-button {
      margin: 4em 0;
    }

  }
}
