@import "src/styles/variables";
@import "../product-card/product-card.component";
@import "../product-list/product-list.component";

.product-detail-view {

  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4em;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 2em;
  height: auto;
  transition: all .4s ease-in-out;
  position: relative;
  font-family: raleway-medium monospace;
  font-size: 16px;

  .product-hierarchy-breadcrumb {
    position: absolute;
    left: 0;
    top: 1em;
    letter-spacing: 0.2em;
    font-size: 16px;
    font-family: raleway-medium monospace;
    background: none;
    margin: 0;
    cursor: pointer;

    li {
      list-style: none;
      float: left;
      margin: 5px;
      outline: 0;
      border: none;

      &::after {
        content: " / ";
        color: darkgrey;
      }

      &:last-child {
        margin-right: 20px;

        &::after {
          content: "";
        }
      }

      .label-text {
        outline: 0;
        border: none;
        text-transform: capitalize;
        transition: all .2s ease-in-out;

        &:hover {
          color: $color-magenta-primary;
          text-decoration: none;
          transition: all .2s ease-in-out;

        }
      }
    }
  }

  .product-image-zoom {
    display: inline-block;
    width: 35%;
    height: 100%;
    float: left;
    box-shadow: 4px 4px 18px rgb(194 24 91);
    border-radius: 5px;
  }

  .product-detail {
    position: relative;
    width: 60%;
    margin-left: 5%;
    float: left;

    .category {
      color: darkgray;
      margin: 0;

      span {
        text-transform: capitalize;
      }
    }

    .product-name {
      margin: 0;
      font-family: raleway-bold monospace;
      font-size: 1.6em;
    }

    .details-title {
      margin: 0;
    }

    .product-description {
      font-size: 18px;
      font-family: raleway-extra-light monospace;
    }

    button {
      vertical-align: middle;
      opacity: .5;
      cursor: unset;
      margin-left: 1em;
    }

    .product-detail-footer {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;

      .add-to-cart-btn, .add-to-wishlist-btn, .checkout-btn {
        display: flex;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 0.2em 2em;
        line-height: 35px;
        border-radius: 5px;
        border: 1px solid #c2185b;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        flex: 1;

        &:hover, &:active, &:focus {
          border-color: $color-magenta-primary;
          background: $color-magenta-primary;
        }

        i {
          margin-left: .4em;
        }

        .la-shopping-cart {
          font-size: 28px;
          vertical-align: sub;
        }
      }

      .btn {
        margin: 0.8em;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .drift-zoom-pane {
    animation: fadeAnimationOut .25s ease-in-out;

    &.drift-open {
      transition-delay: .2s;
      animation: fadeAnimationIn .25s ease-in-out;
    }

    @keyframes fadeAnimationIn {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fadeAnimationOut {
      0% {
        display: block;
        opacity: 1;
        transform: scale(1);
      }
      50% {
        display: block;
        opacity: 0.5;
        transform: scale(0.5);
      }
      100% {
        opacity: 0;
        transform: scale(0);
        display: none;
      }
    }

  }
}

@media screen and (max-width: 1160px) {
  .product-detail-view {
    align-items: center;

    .product-detail {
      .product-detail-footer {
        flex-direction: column;

        .btn {
          margin: 0.8em 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-detail-view {
    flex-direction: column;
    padding-top: 5em;

    .drift-zoom-pane {
      display: none;
    }

    .product-detail {
      width: 80%;
      margin: 0;
    }

    .product-image-zoom {
      width: 80%;
      margin: 2em auto;
    }

    h3 {
      margin-bottom: .6em;
    }

    p {
      margin: 0 auto 1em;
    }
  }
}
