@import "src/styles/variables";
@import "../product-card/product-card.component";
@import "../product-list/product-list.component";

.product-detail-view {

  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4em;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 2em;
  height: auto;
  transition: all .4s ease-in-out;
  position: relative;
  font-family: raleway-medium monospace;
  font-size: 16px;

  .product-image-zoom {
    display: inline-block;
    width: 35%;
    height: 100%;
    float: left;
    box-shadow: 4px 4px 18px rgb(194 24 91);
    border-radius: 5px;
  }

  .product-detail {
    position: relative;
    width: 60%;
    margin-left: 5%;
    float: left;

    h2 {
      margin-top: 0;
    }

    .category {
      color: darkgray;
      margin: 0;

      span {
        text-transform: capitalize;
      }
    }

    .product-name {
      margin: 0;
      font-family: raleway-bold monospace;
      font-size: 1.6em;
    }

    .details-title {
      margin: 0;
    }

    .product-description {
      font-size: 18px;
      font-family: raleway-extra-light monospace;
    }

    .size-options {
      padding: 0;

      .option {
        list-style: none;
        border: 1px solid white;
        display: inline-block;
        padding: .4em .8em;
        margin: .4em;
        cursor: pointer;
        font-weight: bold;
        transition: .2s all ease-in-out;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.disabled {
          pointer-events: none;
          opacity: .35;
        }

        &.selected {
          transition: .2s all ease-in-out;
          border-color: $color-magenta-primary;
          background-color: $color-magenta-primary;
        }
      }
    }

    .product-detail-footer {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        max-width: 240px;

        &.button-loading {
          pointer-events: none;
          color: $navbar-bg-color;
        }

        i {
          margin-left: .4em;
        }

        .la-shopping-cart {
          font-size: 28px;
          vertical-align: sub;
          margin-left: .1em;
          pointer-events: none;
        }
      }

      .btn {
        margin: 0.8em;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      .add-to-cart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.8em;

        .add-to-cart-counter {
          background: transparent;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          padding: .1em 0;
          width: 80px;
          float: left;
          border: 1px solid $color-magenta-primary;

          input {
            float: left;
            width: 20%;
            height: 40px;
            border: none;
            text-align: center;
            box-sizing: border-box;
            background: transparent;
            color: white;
          }

          span {
            width: 40%;
            display: block;
            height: 40px;
            float: left;
            position: relative;
            cursor: pointer;

            &:before, &:after {
              content: '';
              position: absolute;
              background-color: #667780;
              height: 2px;
              width: 10px;
              top: 50%;
              left: 50%;
              margin-top: -1px;
              margin-left: -5px;
            }

            &.plus {
              &:after {
                transform: rotate(90deg);

              }
            }
          }
        }

        .add-to-cart-btn {
          transition: .2s all ease-in-out;
          &.warning-size-undefined {
            background: $color-magenta-primary;
            transition: .2s all ease-in-out;
          }
        }
      }
    }
  }
}

.drift-zoom-pane {
  animation: fadeAnimationOut .25s ease-in-out;
  width: 0;
  height: 0;

  &.drift-open {
    width: 100%;
    height: 100%;
    max-height: 360px;
    transition-delay: .2s;
    animation: fadeAnimationIn .25s ease-in-out;
  }

  @keyframes fadeAnimationIn {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeAnimationOut {
    0% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
    50% {
      display: block;
      opacity: 0.5;
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      display: none;
    }
  }

}

@media screen and (max-width: 1160px) {
  .product-detail-view {
    align-items: center;

    .product-detail {
      .product-detail-footer {
        flex-direction: column;

        .btn {
          margin: 0.8em 0;
        }

        .add-to-cart-wrapper {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-detail-view {
    flex-direction: column;
    padding-top: 5em;

    .product-detail {
      width: 80%;
      margin: 0;

      .size-options {
        text-align: center;

        .option {
          &:first-of-type {
            margin-left: .4em;
          }

          &:last-of-type {
            margin-right: .4em;
          }
        }
      }
    }

    .product-image-zoom {
      width: 80%;
      margin: 2em auto;
    }

    h3 {
      margin-bottom: .6em;
    }

    p {
      margin: 0 auto 1em;
    }
  }
  .drift-zoom-pane.drift-open {
    display: none;
  }
}
