@import 'src/styles/variables';

.banner-background {
  background-image: url("../../assets/images/banner-smaller.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: $navbar-height;
}

.banner-text-wrapper {
  background: rgba(222, 58, 107, 0.7);
  width: 100%;
  padding: 1.6em 0.8em;
  color: black;
  font-weight: 700;
  font-family: $font-paragraph;

  h1 {
    margin-bottom: 0.4em;

    @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }
  }

  hr {
    border-color: black;
    border-bottom: none;
  }

  a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid white;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}
