@import 'src/styles/variables';

.home-page {
  background-image: url("../../assets/images/home-page-bg.jpg");
}

.banner-text-wrapper {
  background: rgba($color-pink-primary, 0.7);
  width: 100%;
  padding: 1.6em 0;
  color: black;
  font-weight: 700;
  font-family: $font-paragraph;
  box-sizing: border-box;

  h1 {
    margin-bottom: 0.4em;

    @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }
  }

  hr {
    border-color: black;
    border-bottom: none;
  }

  a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid white;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}
