<header id="navbar">
  <nav class="navbar-container">
    <li class="navbar-item home-item" (click)="closeMobileNavbar()">
      <a [routerLink]="['/', 'home']" class="home-link navbar-link" routerLinkActive="active">Home</a>
    </li>
    <div class="toggle-button-wrapper">
      <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-menu sidebar right">
      <ul class="navbar-links left">
        <li (mouseenter)="mouseEnterSubMenu($event)" (mouseleave)="mouseLeaveSubmenu()"
            [ngStyle]="{'padding-bottom': productsSubMenuMarginSeparator + 'px'}"
            class="navbar-item products-menu" (click)="closeMobileNavbar()"><a class="navbar-link has-subcategory"
                                                                               routerLink="products"
                                                                               routerLinkActive="active">
          Products<i class="fas fa-angle-down"></i></a>
          <div class="submenu products-categories">
            <ul>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/men-sneakers"
                                         routerLinkActive="active">Men sneakers</a></li>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/women-sneakers"
                                         routerLinkActive="active">Women sneakers</a></li>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/sports"
                                         routerLinkActive="active">Sports</a></li>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/electronics"
                                         routerLinkActive="active">Electronics</a></li>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/watches"
                                         routerLinkActive="active">Watches</a></li>
              <li class="navbar-item"><a class="navbar-link"
                                         routerLink="products/jewelry"
                                         routerLinkActive="active">Jewelry</a></li>
            </ul>
          </div>
        </li>
        <span class="search-wrapper">
            <input name="search-input" id="search-input" class="search__input" type="text"
                   placeholder="Search for anything"><i class="fa fa-search"></i>
        </span>
      </ul>
      <ul class="navbar-links right">
        <li *ngIf="isUserLoggedIn()" class="navbar-item"><a class="navbar-link"><i class="far fa-heart"></i>Wish
          list</a></li>
        <li class="navbar-item"><a class="navbar-link"><i class="las la-shopping-cart"></i>Cart</a></li>
        <li class="navbar-item" (click)="closeMobileNavbar()"><a class="navbar-link" routerLink="contact"
                                                                 routerLinkActive="active">
          <i class="far fa-envelope"></i>Contact us</a></li>
        <li *ngIf="!isUserLoggedIn() else logout" class="navbar-item" (click)="closeMobileNavbar()"><a
          class="navbar-link" routerLink="entry"
          routerLinkActive="active">
          <i class="far fa-user"></i>Log in</a>
        </li>
        <ng-template #logout>
          <li (mouseenter)="mouseEnterSubMenu($event)" (mouseleave)="mouseLeaveSubmenu()"
              [ngStyle]="{'padding-bottom': accountSubMenuMarginSeparator + 'px'}"
              class="navbar-item account-menu"><a class="navbar-link has-subcategory">
            <i class="far fa-user"></i>Account</a>
            <div class="submenu account-categories">
              <ul>
                <li class="navbar-item"><a class="navbar-link">My account</a>
                </li>
                <li class="navbar-item" (click)="logoutFromApp()"><a class="navbar-link">Logout</a></li>
              </ul>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>
