@import 'src/styles/variables';

:host {
  display: flex;
  height: $navbar-height;
}

#navbar {
  font-family: $font-primary;
  z-index: 1000;
  margin-bottom: $navbar-height;
}

#navbar.opened {
  transition: .2s all ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  max-width: 1280px;
  width: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin: 0 auto;
}

#navbar {
  position: fixed;
  height: $navbar-height;
  background-color: $navbar-bg-color;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.home-link {
  margin-right: 1em;

  &:before {
    content: "";
    display: block;
    background: url("../../../assets/icons/shopping-bag-flat.svg") no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 1em;

    @media screen and (max-width: 1024px) {
      width: 42px;
      height: 42px;
    }

    @media screen and (max-width: 768px) {
      width: 38px;
      height: 38px;
    }
  }
}

.home-link,
.navbar-link {
  color: $navbar-text-color;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-link {
  $initialTextColor: #FFF;
  $slideTextColor: #272838;

  $initialBgColor: $navbar-bg-color;
  $slideBgColor: $color-magenta-primary;

  color: $initialTextColor;
  background-color: transparent;
  background-image: linear-gradient(90deg,
    $initialBgColor 0%,
    $initialBgColor 50%,
    $slideBgColor 50%,
    $slideBgColor 100%);
  background-size: 200%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
  color .2s linear;
  transition-delay: 0.0s, 0.15s;
  transform: translate3d(0, 0, 0);
  border: none;
  outline: none;

  &:hover, &.active {
    transition: all .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
    transition-delay: 0.0s, 0.15s;
    cursor: pointer;
    background-position: -100% 100%;
  }

  &.active {
    font-family: $font-secondary;
  }

  @media screen and (min-width: 769px) {
    font-size: calc(10px + 4 * ((100vw - 320px) / 1024));
  }

  @media screen and (min-width: 1025px) {
    font-size: 16px;
  }

  .fas, .far, .fa, .las {
    margin-right: 0.4em;

    &:before {
      font-size: 16px;
    }

    &.la-shopping-cart {
      &:before {
        font-size: 22px;
        margin-left: -4px;
      }
    }

    &.fa-angle-down {
      margin-right: 0;
      margin-left: 0.4em;
    }

    @media screen and (max-width: 768px) {
      width: 24px;
    }
  }
}

.home-link:focus,
.home-link:hover {
  color: $navbar-text-color-focus;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em;
  border-radius: 0;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    // fixes weird glitch with border lines when resizing the window
    width: 102%;
  }

  &.has-subcategory {
    height: 100%;
    border: none;
    outline: none;
  }

  &.home-link {
    width: auto;
  }
}

.navbar-link:focus,
.navbar-link:hover {
}

.toggle-button-wrapper {
  @media screen and (max-width: 768px) {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: 0;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .opened & {
      align-items: center;
      margin-right: 15px; // half width
    }
  }

}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
  transform 0.2s ease-in-out,
  opacity 0.2s ease-in-out;
  background-color: $navbar-text-color;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: $navbar-text-color-focus;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  left 0.2s ease-in-out,
  right 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: $navbar-height;
  }
}

.navbar-menu.sidebar.right {
  right: -1000px;
  left: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.right {
  right: 0;
  overflow: auto;
}

.navbar-links {
  list-style-type: none;
  padding: 1em;
  overflow: hidden;
  background-color: $navbar-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  .search-wrapper {
    display: flex;
    flex: 1;
    max-width: 280px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: all 250ms ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: transparent;

    span {
      width: 100%;
    }

    .fa-search {
      position: absolute;
      right: 0;
      padding: 0.6em 1em;
      cursor: pointer;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        top: 0;
      }

      &:before {
        font-size: 16px;
        color: white;
      }
    }

    .search__input {
      width: 100%;
      padding: 0.8em 1.4em;
      outline: 0;
      font-size: 14px;
      font-family: $font-secondary;

      background-color: transparent;
      line-height: 18px;
      color: white;

      border-radius: 5px;
      border: 1px solid #575756;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 250ms ease-in-out;

      &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }

      &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
      }

      &::selection {
        background: $color-magenta-primary; /* WebKit/Blink Browsers */
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.75);
        letter-spacing: 1.5px;
      }

      @media screen and (min-width: 769px) {
        font-size: calc(8px + 4 * ((100vw - 320px) / 1024));
      }

      @media screen and (min-width: 1025px) {
        font-size: 12px;
      }
    }

    &:hover,
    &:focus {
      outline: 0;
      background-position: 100% center;
      transition: all 250ms ease-in-out;

      .search__input {
        outline: 0;
        padding: 0.8em 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        transition: all 250ms ease-in-out;
      }

      .fa-search {
      }
    }

    @media screen and (max-width: 1024px) {
      min-width: 200px;
      width: 30vw;
      margin: 0.8em;
      min-height: 38px;

      .search__input {
        height: 100%;
      }
    }
  }


  &.right {
    justify-content: flex-end;

    @media screen and (min-width: 769px) {
      .navbar-item {
        &:last-child {
          margin-right: 0;

          .navbar-link {
            margin-right: 1.2em;
            padding: 0.4em;
          }
        }
      }
    }
  }
}

#navbar.opened .navbar-links {
  padding: 0 1em;
  max-height: none;

  &.right {
    padding-bottom: 1em;
  }
}

.sidebar .navbar-links {
  top: 0;
  bottom: 0;
}

.right.sidebar .navbar-links {
  right: 0;
  left: unset;
  box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
  margin: 0.4em;
  width: auto;
  list-style: none;
  backface-visibility: hidden;
  @media screen and (max-width: 1024px) {
    margin: 0.2em;

    .navbar-link {
    }
  }

  &.home-item {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex: 1;
    height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    max-height: none;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}

#options {
  display: flex;
  flex-direction: column;
}

.products-menu, .account-menu {
  transition: all 0.4s ease-in-out 0s;
  height: 100%;
  margin: 0 0.4em;
  cursor: pointer;

  .circle {
    background-color: white;
    color: $navbar-bg-color;
    border-radius: 50%;
    height: 32px;
    text-align: center;
    width: 32px;
    margin-right: .4em;

    .initials {
      font-size: 1em;
      height: 100%;
      line-height: 2em;
      display: inline-block;
    }
  }

  .circle-in-submenu {
    position: absolute;
    top: 1em;
  }

  @media screen and (max-width: 768px) {
    padding-top: 1em;
  }

  &:hover {
    .products-categories, .account-categories {
      transform: translateY(0);

      &:not(.products-categories) {
        transform: translate(-50%, 0);
      }

      @media screen and (max-width: 768px) {
        opacity: 1;
        visibility: visible;
        z-index: 1;

        &:not(.products-categories) {
          transform: translate(20px, 0);
        }
      }

      li {
        list-style: none;
      }
    }
  }
}

.products-categories, .account-categories {
  padding: 0 1em;
  background: $navbar-bg-color;
  position: absolute;
  transform: translateY(-125%);
  margin: 0 0.4em;
  transition: .4s all ease-in;
  z-index: -1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  &:not(.products-categories) {
    transform: translate(-50%, -150%);
  }

  .user-details {
    position: relative;
    padding-top: 0.6em;

    .user-name, .user-email {
      cursor: default;
      font-size: 14px;
      margin-left: 42px;
      color: #8e8e8e;
    }

    .user-email {
      &:before {
        position: absolute;
        content: "";
        border-bottom: 1px solid white;
        width: 100%;
        top: 105%;
        left: 0;
      }
    }
  }

  .navbar-link {
    justify-content: flex-start;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    box-shadow: none;

    &:not(.products-categories) {
      transform: translate(-36px, 0);
    }
  }
}
