@import 'src/styles/variables';

.cart-page-wrapper {
  position: relative;
  max-width: 1024px;
  flex-direction: column;

  h2 {
    margin-bottom: 0;
  }

  .remove-all {
    position: absolute;
    right: 2em;
    top: 1em;
  }

  .product-cart-section {
    margin: 0 2.5%;

    p {
      margin: 0;
    }

    &.left {
      width: 65%;
    }

    &.right {
      margin: 1.4em 0;
      width: 30%;
      background: linear-gradient(to left, $navbar-bg-color, $color-magenta-primary) no-repeat 0 0 / cover;
      border-radius: 5px;
      padding: 1.2em;
      box-sizing: border-box;

      .price {
        color: black;
        font-family: raleway-bold monospace;
        font-weight: bold;
        font-size: 2em;
      }
    }

    .shoptastic-product-card-wrapper {
      background: rgba($color-magenta-primary, 1);
      padding: 0.6em;
      border-radius: 6px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      position: relative;
      margin: 1.4em 1.2em;
      display: flex;
      flex-direction: row;

      .shoptastic-product-card {
        flex-direction: row;
        align-items: center;


        &:hover {
          .shoptastic-product-image-wrapper {
            top: -20px;
          }
        }

        .shoptastic-product-image-wrapper {
          flex: 0.25;
        }

        .product-text-wrapper {
          padding-left: 1.2em;

          .action-buttons-wrapper {
            display: none;
          }

          div.product-footer {
            align-items: center;
          }

          .shoptastic-btn-primary {
            padding: 0 2em;
          }
        }
      }

      .add-to-cart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.8em;

        .size {
          margin-right: 1.8em;
        }

        .add-to-cart-counter {
          background: $navbar-bg-color;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          padding: .1em 0;
          width: 80px;
          float: left;
          border: 1px solid $navbar-bg-color;

          input {
            float: left;
            width: 20%;
            height: 40px;
            border: none;
            text-align: center;
            box-sizing: border-box;
            background: transparent;
            color: white;
          }

          span {
            width: 40%;
            display: block;
            height: 40px;
            float: left;
            position: relative;
            cursor: pointer;

            &:before, &:after {
              content: '';
              position: absolute;
              background-color: #667780;
              height: 2px;
              width: 10px;
              top: 50%;
              left: 50%;
              margin-top: -1px;
              margin-left: -5px;
            }

            &.plus {
              &:after {
                transform: rotate(90deg);

              }
            }
          }
        }

        .add-to-cart-btn {
          transition: .2s all ease-in-out;

          &.warning-size-undefined {
            background: $color-magenta-primary;
            transition: .2s all ease-in-out;
          }
        }
      }
    }
  }

  .empty-cart {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cart-page-wrapper {
    .product-cart-main-wrapper {
      flex-direction: column;

      .product-cart-section {
        margin: 0;
        text-align: center;

        &.left, &.right {
          width: 100%;
        }

        .shoptastic-product-card-wrapper {
          margin: 1.4em 0;

          .shoptastic-product-card {

            &:hover {
              .shoptastic-product-image-wrapper {
                top: 0;

                img {
                  box-shadow: none;
                }
              }
            }

            .shoptastic-product-image-wrapper {
              flex: 1;
            }

            .product-text-wrapper .product-footer {
              align-items: flex-start;
              margin: 0;
              flex-direction: column;
              padding-top: 0;

              &:before {
                bottom: 70px;
              }

              .flex:first-of-type {
                margin-bottom: 1em;
              }
            }
          }

        }
      }

    }
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  // fixes weird glitch with border lines when resizing the window
  .cart-page-wrapper {
    .product-cart-section {
      .shoptastic-product-card-wrapper {
        display: block;

        .shoptastic-product-card {
          display: inline-block;
          height: auto;

          .shoptastic-product-image-wrapper {
            display: inline-block;
            width: 20%;
            float: left;

            .shoptastic-product-image {
              width: 100%;
              vertical-align: text-top;
            }
          }

          .product-text-wrapper {
            display: inline-block;
            width: 73%;
            height: auto;
            float: left;
          }
        }
      }
    }
  }

  @media screen and(max-width: 768px) {
    .cart-page-wrapper {
      .product-cart-main-wrapper {
        display: block;

        .product-cart-section {
          &.left, &.right {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
