<div class="home-page banner-background">
  <div class="container">
    <div class="centered banner-text-wrapper">
      <h1>Welcome to Shoptastic</h1>
    </div>

    <div class="glide">
      <h2 class="featured-products-title">Featured Products:</h2>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li *ngFor="let item of products" class="glide__slide">
            <img (mousemove)="dragging = true" (mousedown)="dragging = false" (mouseup)="goToProductDetail(item)" class="shoptastic-carousel-image" [src]="item.imageSrc" alt="shoptastic_image">
            <div class="product-text-wrapper">
              <p class="truncate" (click)="goToProductDetail(item)">{{item.name}}</p>
              <span class="price">&euro;{{item.price.toFixed(2)}}</span>
              <div class="product-detail-footer">
                <button *ngIf="isUserLoggedIn(); else viewDetails" (click)="addOrGoToWishlist(item, $event)"
                        class="btn add-to-wishlist-btn shoptastic-btn-transparent-dark"
                        [ngClass]="{'selected': item.wishlisted}">
                  {{item.wishlisted ? 'Go to wishlist' : 'Wishlist'}}
                  <i class="far fa-heart"></i></button>
                <ng-template #viewDetails>
                  <a (click)="goToProductDetail(item)"
                          class="btn add-to-wishlist-btn shoptastic-btn-transparent-dark">View details</a>
                </ng-template>
              </div>
            </div>

          </li>

        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" *ngFor="let item of products; let i = index"
                [attr.data-glide-dir]="'=' + i"></button>
      </div>
    </div>
    <div class="home-page-footer-action">
      <h2>Interested for more?</h2>
      <a class="btn shoptastic-btn-secondary" routerLink="/products">View all products</a>
    </div>
  </div>
</div>
