@import "src/styles/variables";

.contact-page-component {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .contact-page {
    background-image: url("../../../assets/images/contactUsImage1920.jpg");
    min-height: 30%;
    max-height: 50%;

    .overlay-layer {
      width: 100%;
      height: 100%;
      background-color: rgba($color-magenta-primary, 0.85);

      h1 {
        font-size: 3vw;
        text-transform: uppercase;
        margin: -.4em 0;
        letter-spacing: .15em;

        @media screen and (min-width: 1280px) {
          font-size: 48px;
        }
      }

      h3 {
        margin: 1vw 0;
        font-family: raleway-thin, monospace;
        letter-spacing: .15em;
        font-size: 1vw;
      }
    }
  }

  .contact-form {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex: 1;
    align-items: center;

    #contact {
      width: 100%;
      //overflow: hidden;
    }

    .section-header {
      font-size: 42px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 6px;
      color: white;

      @media screen and (max-width: 1024px) {
        font-size: 3vw;
        margin-bottom: 1em;
      }
    }

    .contact-wrapper {
      display: flex;
      flex: 1;
      position: relative;
      //height: 100%;
      justify-content: center;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 1.4em;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }

    /* Begin Left Contact Page */
    .form-horizontal {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      flex: 1;

      @media screen and (max-width: 768px) {
        margin-right: 0;
        min-width: 80%;
        max-width: 80%;
      }
    }

    .form-control, textarea {
      background-color: $navbar-bg-color;
      color: white;
      letter-spacing: 1px;
    }

    .form-control {
      margin: 0.4em 0;
    }

    .textarea {
      margin-bottom: 0.8em;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .send-button {
      margin: 0;
      padding: 0;
      height: 34px;
      min-height: 34px;
      overflow: hidden;
      transition: all .2s ease-in-out;
      background-color: $color-magenta-primary;
      color: white;
      line-height: 34px;

      .button {
        width: 100%;
        height: 34px;
        transition: all .2s ease-in-out;
        background-color: $color-magenta-primary;
      }

      &.send-disabled {
        background-color: dimgrey;
        cursor: not-allowed;

        .button {
          pointer-events: none;
          background-color: dimgrey;
          cursor: not-allowed;
        }
      }
    }

    .send-text {
      display: flex;
      letter-spacing: 2px;
      justify-content: center;
      line-height: 24px;
      height: 100%;
    }

    .button:hover {
      transform: translate3d(0px, -29px, 0px);
    }

    /* Begin Right Contact Page */
    .direct-contact-container {
      margin-left: 2em;

      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    /* Location, Phone, Email Section */
    .contact-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .list-item {
      line-height: 4em;
      color: white;

      .fa, .fas {
        width: 32px;
        vertical-align: middle;
        margin-right: 1em;
      }

      @media screen and (max-width: 1024px) {
        line-height: 2em;

        .fa, .fas {
          font-size: 1em;
        }
      }
    }

    .contact-text {
      font-size: 18px;
      font-family: monospace;
      letter-spacing: 1.9px;
      color: white;

      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }

    .contact-text a {
      color: white;
      text-decoration: none;
      transition-duration: 0.2s;
    }

    .contact-text a:hover {
      color: white;
      text-decoration: none;
    }

    .social-media-list {
      position: relative;
      font-size: 2rem;
      text-align: center;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .social-media-list li a {
      color: white;
      vertical-align: middle;

      @media screen and (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    .social-media-list li {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      height: 54px;
      width: 54px;
      margin: 10px 20px;
      line-height: 54px;
      border-radius: 50%;
      color: #fff;
      background-color: $navbar-bg-color;
      cursor: pointer;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 768px) {
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }

    .social-media-list li:hover {
      background-color: $color-magenta-primary;
    }

    .social-media-list li:hover:after {
      opacity: 1;
      transform: scale(1.12);
      transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
    }

    .social-media-list li:hover a {
      color: #111;
    }

    .copyright {
      color: #555;
      letter-spacing: 1px;
      text-align: center;
    }

    hr {
      border-color: $color-magenta-primary;
      border-top: none;
      margin: 1em 0 0;
    }
  }
}
