<div class="contact-page-component">
  <div class="contact-page banner-background">
    <div class="overlay-layer">
      <div class="container">
        <div class="text-align-left banner-text-wrapper">
          <div>
            <h1>We want to</h1>
            <h1>hear from you</h1>
            <h3>Please fill out our form, and we'll get in touch shortly.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-form">
    <section id="contact">
      <h1 class="section-header">CONTACT</h1>
      <div class="contact-wrapper">
        <form class="form-horizontal" role="form" method="post" onsubmit="return false;">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
          <textarea class="form-control textarea" rows="4" placeholder="MESSAGE" name="message"></textarea>
          <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
            <div class="button">
              <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
            </div>
          </button>
        </form>
        <div class="direct-contact-container">
          <ul class="contact-list">
            <li class="list-item"><i class="fas fa-map-marker-alt fa-2x"></i><span
              class="contact-text place">Skopje | MK</span></li>
            <li class="list-item"><i class="fa fa-phone fa-2x"></i>
              <span class="contact-text phone"><a title="Give me a call">078-XXX-XXX</a></span>
            </li>
            <li class="list-item"><i class="fa fa-envelope fa-2x"></i>
              <span class="contact-text gmail"><a href="mailto:#"
                                                  title="Send me an email">emailme@gmail.com</a></span>
            </li>
          </ul>
          <hr>
          <ul class="social-media-list">
            <li><a class="contact-icon">
              <i class="fab fa-github" aria-hidden="true"></i></a>
            </li>
            <li><a class="contact-icon">
              <i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a class="contact-icon">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
