<div class="forgot-password-component">
  <div class="container">
    <h3>Change the password for your shoptastic username {{resetPasswordDto.email}}</h3>
      <mat-form-field appearance="outline">
        <mat-label>Enter your new password</mat-label>
        <input matInput type="password" name="password" [ngModel]="password" class=""
               (ngModelChange)="passwordModelChange($event)"/>
        <mat-icon matSuffix>lock_open</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm your new password</mat-label>
        <input matInput type="password" name="password" [ngModel]="confirmPassword" class=""
               (ngModelChange)="confirmPasswordModelChange($event)"/>
        <mat-icon matSuffix>lock_open</mat-icon>
      </mat-form-field>
    <div class="error-message" *ngIf="passwordMismatch">
      <p>Your password and confirmation password do not match.</p>
    </div>
    <button mat-raised-button class="mat-raised-button mat-primary"
            (click)="updatePassword()" [disabled]="updatePasswordDisabled">
      Submit
    </button>
  </div>
</div>
