.forgot-password-component {
  display: flex;
  flex: 1;
  height: 100%;

  .container {
    flex-direction: column;
    height: auto;
    justify-content: center;

    .mat-form-field {
      width: 50%;
      max-width: 320px;
    }

    .mat-form-field-infix {
      font-size: 14px;
    }

    .error-message {
      width: auto;
    }
  }
}

