#navbar {
  --navbar-bg-color: hsl(214, 26%, 17%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  font-family: cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.home-link {
  margin-right: 1em;

  &:before {
    content: "";
    display: block;
    background: url("../../assets/icons/shopping-bag-flat.svg") no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 1em;
  }
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.navbar-link {
  --initialTextColor: #FFF;
  --slideTextColor: #272838;

  --initialBgColor: var(--navbar-bg-color);
  --slideBgColor: rgb(222, 58, 107);
  //--slideBgColor: rgb(255, 115, 94);
  font-weight: bold;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
  color .2s linear;
  transition-delay: 0.0s, 0.15s;

  &:hover, &.active {
    transition: all .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
    transition-delay: 0.0s, 0.15s;
    cursor: pointer;
    background-position: -100% 100%;
  }
}

.home-link:focus,
.home-link:hover {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 0;

  &.has-subcategory {
    height: 100%;
  }

  &.home-link {
    width: auto;
  }
}

.navbar-link:focus,
.navbar-link:hover {
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
  transform 0.2s ease-in-out,
  opacity 0.2s ease-in-out;
  background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  left 0.2s ease-in-out,
  right 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: var(--navbar-height);
  }
}

.navbar-menu.sidebar.right {
  right: -1000px;
  left: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.left {
  left: 0;
}

#navbar.opened .navbar-menu.sidebar.right {
  right: 0;
  overflow: auto;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  &.right {
    justify-content: flex-end;

    @media screen and (min-width: 769px) {
      .navbar-item {
        &:last-child {
          margin-right: 0;

          .navbar-link {
            margin-right: 1.2em;
            padding: 0.8em;
          }
        }
      }
    }
  }
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

.sidebar .navbar-links {
  top: 0;
  bottom: 0;
}

.right.sidebar .navbar-links {
  right: 0;
  left: unset;
  box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
  margin: 0.4em;
  width: auto;
  list-style: none;
}

@media screen and (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex: 1;
    height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    max-height: none;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}

#options {
  display: flex;
  flex-direction: column;
}

.products-menu {
  transition: all 0.4s ease-in-out 0s;
  height: 100%;
  margin: 0 0.4em;
  cursor: pointer;

  &:hover {
    .products-categories {
      transform: translateY(0);

      @media screen and (max-width: 768px) {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }

      li {
        list-style: none;
      }
    }
  }
}

.products-categories {
  padding: 0 1em;
  background: var(--navbar-bg-color);
  position: absolute;
  transform: translateY(-125%);
  margin: 0 0.4em;
  transition: .4s all ease-in;
  z-index: -1;

  .navbar-link {
    justify-content: flex-start;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
}
