.btn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0.2em 2em;
  line-height: 35px;
  min-height: 35px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-family: raleway-bold monospace;
  border: 1px solid white;

  &.shoptastic-btn-primary {
    background: $color-magenta-primary;

    &:hover, &:active, &:focus {
      border-color: $navbar-bg-color;
      background: $navbar-bg-color;
    }
  }

  &.shoptastic-btn-secondary {
    border: 1px solid $navbar-bg-color;
    background: $navbar-bg-color;

    &:hover, &:active, &:focus {
      border-color: white;
    }

  }

  &.shoptastic-btn-transparent-dark {
    background-color: transparent;

    &:hover, &:active, &:focus {
      border-color: $navbar-bg-color;
      background: $navbar-bg-color;
    }
  }

  &.shoptastic-btn-transparent-magenta {
    background-color: transparent;
    border-color: $color-magenta-primary;

    &:hover, &:active, &:focus {
      background: $color-magenta-primary;
    }
  }
}

.button-loading {
  pointer-events: none;
  color: $navbar-bg-color;

  &:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner .75s ease infinite;
    transition: .2s all;
  }

  i {
    display: none;
  }
}

.pre-button {
  margin: 0;
  box-sizing: content-box;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-family: raleway-bold monospace;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
