@font-face {
  font-family: 'raleway-thin';
src: url('../assets/fonts/raleway/WOFF2/Raleway-Thin.woff2') format('woff2');
src: url('../assets/fonts/raleway/WOFF/Raleway-Thin.woff') format('woff');
src: url('../assets/fonts/raleway/TTF/Raleway-Thin.ttf')  format('truetype');
src: url('../assets/fonts/raleway/OTF/Raleway-Thin.otf')  format('opentype');
}

@font-face {
  font-family: 'raleway-light';
src: url('../assets/fonts/raleway/WOFF2/Raleway-Light.woff2') format('woff2');
src: url('../assets/fonts/raleway/WOFF/Raleway-Light.woff') format('woff');
src: url('../assets/fonts/raleway/TTF/Raleway-Light.ttf')  format('truetype');
src: url('../assets/fonts/raleway/OTF/Raleway-Light.otf')  format('opentype');
}

@font-face {
  font-family: 'raleway-extra-light';
src: url('../assets/fonts/raleway/WOFF2/Raleway-ExtraLight.woff2') format('woff2');
src: url('../assets/fonts/raleway/WOFF/Raleway-ExtraLight.woff') format('woff');
src: url('../assets/fonts/raleway/TTF/Raleway-ExtraLight.ttf')  format('truetype');
src: url('../assets/fonts/raleway/OTF/Raleway-ExtraLight.otf')  format('opentype');
}

@font-face {
  font-family: 'raleway-medium';
src: url('../assets/fonts/raleway/WOFF2/Raleway-Medium.woff2') format('woff2');
src: url('../assets/fonts/raleway/WOFF/Raleway-Medium.woff') format('woff');
src: url('../assets/fonts/raleway/TTF/Raleway-Medium.ttf')  format('truetype');
src: url('../assets/fonts/raleway/OTF/Raleway-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../assets/fonts/raleway/WOFF2/Raleway-Bold.woff2') format('woff2');
  src: url('../assets/fonts/raleway/WOFF/Raleway-Bold.woff') format('woff');
  src: url('../assets/fonts/raleway/TTF/Raleway-Bold.ttf')  format('truetype');
  src: url('../assets/fonts/raleway/OTF/Raleway-Bold.otf')  format('opentype');
}
