@import "variables";

.grid-navbar-pusher {
  padding-top: $navbar-height;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.4em;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
}

.banner-background {

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: raleway-bold, monospace;
}

.full-window-width {
  width: 100%;
}

.full-window-height {
  height: calc(100% - #{$navbar-height});
  display: inline-block;
}

.text-align-left {
  text-align: left;
}

.form-control {
  display: flex;
  flex: 1;
  height: 18px;
  min-height: 18px;
  padding: 0.4em 0.8em;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus {
    border-color: $color-magenta-primary;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-magenta-primary, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-magenta-primary, .6);
  }

  &.textarea {
    min-height: 72px;
  }
}

.error-message {
  color: white;
  background: rgba(155, 43, 47, 0.75);
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid rgba($color-magenta-primary, 0.4);

  p {
    font-size: 12px;
    margin: 0;
    padding: .6em;
  }
}

.mat-form-field.mat-accent .mat-input-element {
  height: 100%;
}
