@import "fonts";

$navbar-bg-color: hsl(214, 26%, 17%);
$navbar-text-color: hsl(0, 0%, 85%);
$navbar-text-color-focus: white;
$navbar-bg-contrast: hsl(0, 0%, 25%);
$navbar-height: 64px;

$font-primary: raleway-light, monospace;
$font-secondary: raleway-medium, monospace;
$font-paragraph: raleway-thin, monospace;
