@import "src/styles/variables";

.shoptastic-product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .shoptastic-product-image-wrapper {
    position: relative;
    top: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .shoptastic-product-image {
      width: 100%;
      transition: all 0.2s ease-in-out;
      border-radius: 6px;
    }
  }

  &:hover {
    .shoptastic-product-image-wrapper {
      top: -40px;
    }

    .shoptastic-product-image-wrapper img {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }

  .product-text-wrapper {
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    .product-title {
      text-align: left;
      font-size: 16px;

      p {
        cursor: pointer;
        display: inline-block;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 15px auto;
        overflow: hidden;
        white-space: pre-wrap;
        width: 100%;
      }
    }

    .action-buttons-wrapper {
      .btn {
        margin: 0 .2em;

        i {
          vertical-align: middle;
        }

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .product-footer {
      padding: 25px 0 5px;
      display: flex;
      flex: 1;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;

      &::before {
        content: "";
        border-top: 1px solid #ddd;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 60px;
      }

      .price {
        font-size: 16px;
        font-weight: bold;
      }

      .add-to-cart-btn, .add-to-wishlist-btn {
        display: block;
        padding: 0;
        color: #212121;
        text-align: center;
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        border: 1px solid #212121;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover, &:active, &:focus {
          border-color: $navbar-bg-color;
          background: $navbar-bg-color;
          color: #fff;
          text-decoration: none;
        }

        &.go-to-cart {
          background: $navbar-bg-color;
          color: #fff;
        }

        .la-shopping-cart {
          font-size: 28px;
          vertical-align: middle;
        }
      }
    }
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .shoptastic-product-card {
    display: block;
    height: auto;
  }
  .shoptastic-product-card .product-text-wrapper {
    height: 160px;
  }

  @media screen and (max-width: 768px) {
    .shoptastic-product-card .product-text-wrapper {
      height: 140px;
    }
  }
}
